In [1]:
import sqlite3

In [2]:
db=sqlite3.connect("Employee.sqlite")
db

In [3]:
cur=db.cursor()
cur

In [4]:
cur.execute("create table EmployeeDetail (employeeid int Primary Key,Name text, age int , department text , salary int)")

In [5]:
cur.execute("insert into EmployeeDetail values(100,'Rishab',25,'Marketing',50000)")

In [6]:
db.commit()

In [7]:
cur.execute("insert into EmployeeDetail values(101,'Abhisekh',26,'Operations',60000)")

In [8]:
db.commit()

In [9]:
cur.execute("insert into EmployeeDetail values(102,'Aman',24,'Human Resource',75000)")

In [10]:
db.commit()

### Inserting Some more rows

In [1]:
employee_id=[101,102,103,104,105,106,107,108,109,110,111,112]
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]

In [8]:
import sqlite3
db=sqlite3.connect("Employee.sqlite")
cur=db.cursor()
cur

In [11]:
ans=[]
for i in range(len(name)):
    ans.append((employee_id[i],name[i],age[i],department[i],salary[i]))
ans

[(101, 'Aadarsh', 25, 'Marketing', 50000),
 (102, 'Aarti', 27, 'Operations', 60000),
 (103, 'Siddharth', 25, 'Finance', 85000),
 (104, 'Aman', 24, 'Human Resource', 75000),
 (105, 'Amit', 30, 'Marketing', 50000),
 (106, 'Shivansh', 26, 'IT', 90000),
 (107, 'Vaibhav', 23, 'Finance', 85000),
 (108, 'Himanshu', 26, 'IT', 90000),
 (109, 'Raman', 25, 'Operations', 60000),
 (110, 'Kunal', 26, 'Marketing', 50000),
 (111, 'Adhira', 29, 'Human Resource', 75000),
 (112, 'Tanya', 24, 'Marketing', 50000)]

In [13]:
db=sqlite3.connect("Employee1.sqlite")
cur=db.cursor()
cur.execute("create table EmployeeDetail (employeeid int Primary Key,Name text, age int , department text , salary int)")

In [14]:
cur.executemany("insert into EmployeeDetail values(?,?,?,?,?)",ans)
db.commit()

### Fetching Details

In [16]:
cur.execute("select employeeid from EmployeeDetail where department='Finance'")
ans=cur.fetchall()
print(ans)

[(103,), (107,)]

In [18]:
for i in  ans:
    print(i[0])

103
107

In [21]:
cur.execute("select department,count(*) from EmployeeDetail group by department")
ans=cur.fetchall()
ans

[('Finance', 2),
 ('Human Resource', 2),
 ('IT', 2),
 ('Marketing', 4),
 ('Operations', 2)]