In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('0000000000002370.csv')
df.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN

In [15]:
amt=df['AmountInUSD']
amt.dropna(inplace=True)

In [16]:
# For finding min , max , avg we have to convert object types to float or int
final_amt=amt.str.replace(',','')
final_amt

0       1300000
3        500000
4        850000
5       1000000
6       2600000
         ...
2366    2500000
2367    4500000
2368     825000
2369    1500000
2371     140000
Name: AmountInUSD, Length: 1525, dtype: object

In [22]:
# Converting to int
final_amt=pd.to_numeric(final_amt)
final_amt

0       1300000
3        500000
4        850000
5       1000000
6       2600000
         ...
2366    2500000
2367    4500000
2368     825000
2369    1500000
2371     140000
Name: AmountInUSD, Length: 1525, dtype: int64

In [23]:
Max=final_amt.max()
Min=final_amt.min()
Avg=final_amt.mean()
print(Max)
print(Min)
print(Avg)

1400000000
16000
12031073.099016393

In [28]:
# Sampling and without replacement
sample_size=100
sample=final_amt.sample(sample_size,random_state=1)

In [29]:
sample_avg=sample.mean()
sample_max=sample.max()
sample_min=sample.min()
print(sample_avg)
print(sample_max)
print(sample_min)

24592930.0
1400000000
18000

In [ ]:
# Sampling Error = parameter - statistic