In [209]:
import pandas as pd

In [210]:
data1=pd.read_csv('train.csv')
data2=pd.read_csv('test.csv')
train=data1.copy()
test=data2.copy()

In [211]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668 entries, 0 to 667
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    668 non-null    int64
 1   Name      668 non-null    object
 2   Sex       668 non-null    object
 3   Age       536 non-null    float64
 4   SibSp     668 non-null    int64
 5   Parch     668 non-null    int64
 6   Ticket    668 non-null    object
 7   Fare      668 non-null    float64
 8   Cabin     154 non-null    object
 9   Embarked  667 non-null    object
 10  Survived  668 non-null    int64
dtypes: float64(2), int64(4), object(5)
memory usage: 57.5+ KB

In [212]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 0 to 222
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    223 non-null    int64
 1   Name      223 non-null    object
 2   Sex       223 non-null    object
 3   Age       178 non-null    float64
 4   SibSp     223 non-null    int64
 5   Parch     223 non-null    int64
 6   Ticket    223 non-null    object
 7   Fare      223 non-null    float64
 8   Cabin     50 non-null     object
 9   Embarked  222 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 17.5+ KB

In [213]:
train.isnull().sum()

Pclass        0
Name          0
Sex           0
Age         132
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       514
Embarked      1
Survived      0
dtype: int64

In [214]:
test.isnull().sum()

Pclass        0
Name          0
Sex           0
Age          45
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       173
Embarked      1
dtype: int64

In [215]:
train.drop('Cabin',axis=1,inplace=True)
test.drop('Cabin',axis=1,inplace=True)

In [216]:
train.drop('Ticket',axis=1,inplace=True)
test.drop('Name',axis=1,inplace=True)

In [217]:
train['Sex']=train['Sex'].map({'male':1,'female':0})
test['Sex']=test['Sex'].map({'male':1,'female':0})

In [218]:
test.drop('Ticket',axis=1,inplace=True)
train.drop('Name',axis=1,inplace=True)

In [219]:
test['Age'].fillna(test['Age'].median(),inplace=True)

In [220]:
train['Age'].fillna(train['Age'].median(),inplace=True)

In [221]:
train

     Pclass  Sex   Age  SibSp  Parch     Fare Embarked  Survived
0         2    0  29.0      1      0  26.0000        S         1
1         3    1  29.0      0      0   8.0500        S         0
2         2    1  39.0      0      0  26.0000        S         0
3         3    0  29.0      0      4  21.0750        S         0
4         3    1  25.0      0      0   7.0500        S         0
..      ...  ...   ...    ...    ...      ...      ...       ...
663       2    0  17.0      0      0  10.5000        S         1
664       3    1  29.0      0      0   7.7500        Q         0
665       3    1  32.0      0      0  56.4958        S         1
666       3    0  22.0      0      0   9.8375        S         0
667       3    0  29.0      1      0  15.5000        Q         1

[668 rows x 8 columns]

In [222]:
train['Embarked'].value_counts()

S    484
C    133
Q     50
Name: Embarked, dtype: int64

In [223]:
train['Embarked']=train['Embarked'].map({'S':1,'C':2,'Q':3})

In [224]:
test['Embarked']=test['Embarked'].map({'S':1,'C':2,'Q':3})

In [228]:
train[train['Embarked'].isnull()]=0

In [231]:
test[test['Embarked'].isnull()]=0

In [233]:
train

     Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  Survived
0         2    0  29.0      1      0  26.0000       1.0         1
1         3    1  29.0      0      0   8.0500       1.0         0
2         2    1  39.0      0      0  26.0000       1.0         0
3         3    0  29.0      0      4  21.0750       1.0         0
4         3    1  25.0      0      0   7.0500       1.0         0
..      ...  ...   ...    ...    ...      ...       ...       ...
663       2    0  17.0      0      0  10.5000       1.0         1
664       3    1  29.0      0      0   7.7500       3.0         0
665       3    1  32.0      0      0  56.4958       1.0         1
666       3    0  22.0      0      0   9.8375       1.0         0
667       3    0  29.0      1      0  15.5000       3.0         1

[668 rows x 8 columns]

# Before Feature Scaling

In [234]:
from sklearn import linear_model
algo=linear_model.LogisticRegression()

In [235]:
algo.fit(train[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']],train[['Survived']])

C:\Users\mohan\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\mohan\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [236]:
algo.score(train[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']],train[['Survived']])

0.7934131736526946

# Feature Scaling

In [237]:
from sklearn import preprocessing

In [238]:
scaler=preprocessing.StandardScaler()
scaler.fit(train[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']])

StandardScaler()

In [239]:
X_train=scaler.transform(train[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']])

In [240]:
X_test=scaler.transform(test[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']])

# Predicting

In [241]:
algo=linear_model.LogisticRegression(C=90000,solver='sag',max_iter=15000)
algo.fit(X_train,train['Survived'])

LogisticRegression(C=90000, max_iter=15000, solver='sag')

In [242]:
algo.score(X_train,train['Survived'])

0.7889221556886228

In [243]:
ans=algo.predict(X_test)
ans

array([0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 0], dtype=int64)

In [244]:
algo.score(X_test,ans)

1.0

In [245]:
type(ans)

numpy.ndarray

In [247]:
np.savetxt(X=ans, delimiter=',', fname='prediction.csv', fmt='%.0f')