In [1]:
import pandas as pd
df=pd.read_csv('0000000000002370.csv')
df.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN

In [2]:
df['CityLocation']=df['CityLocation'].replace('bangalore','Bangalore')
df['CityLocation']=df['CityLocation'].replace('Delhi','New Delhi')

In [17]:
df1=df[df['CityLocation']=='Bangalore']
df2=df[(df['CityLocation']=='New Delhi') | (df['CityLocation']=='Gurgaon ') | (df['CityLocation']=='Noida')]
df3=df[df['CityLocation']=='Mumbai']
df4=df[df['CityLocation']=='Pune']
df5=df[df['CityLocation']=='Hyderabad']

In [18]:
df1=df1['AmountInUSD']
df2=df2['AmountInUSD']
df3=df3['AmountInUSD']
df4=df4['AmountInUSD']
df5=df5['AmountInUSD']

In [21]:
df1.dropna(inplace=True)
df2.dropna(inplace=True)
df3.dropna(inplace=True)
df4.dropna(inplace=True)
df5.dropna(inplace=True)

In [24]:
df1=df1.str.replace(',','')
df2=df2.str.replace(',','')
df3=df3.str.replace(',','')
df4=df4.str.replace(',','')
df5=df5.str.replace(',','')

In [26]:
df1=pd.to_numeric(df1)
df2=pd.to_numeric(df2)
df3=pd.to_numeric(df3)
df4=pd.to_numeric(df4)
df5=pd.to_numeric(df5)

In [29]:
df3

3         500000
10       1000000
17        464000
46       1250000
50      50000000
          ...
2167     1200000
2179    18000000
2185    12000000
2187     1000000
2193    21500000
Name: AmountInUSD, Length: 300, dtype: int64

### Finding Max

In [98]:
# First finding population max
final_df=df['AmountInUSD']
final_df.dropna(inplace=True)
final_df.size

1525

In [65]:
final_df=final_df.str.replace(',','')
final_df=pd.to_numeric(final_df)
Max=final_df.max()
print(Max)

1400000000

In [87]:
population=final_df.size
population

1525

In [37]:
s1 = pd.Series()
s1

C:\Users\mohan\AppData\Local\Temp/ipykernel_26952/1223869134.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s1 = pd.Series()

Series([], dtype: float64)

## Sampling

In [54]:
sample1=pd.Series(dtype='int64')

temp1=df1.sample(20,random_state=1)
temp2=df2.sample(20,random_state=1)
temp3=df3.sample(20,random_state=1)
temp4=df4.sample(20,random_state=1)
temp5=df5.sample(20,random_state=1)

In [57]:
ans=pd.concat([temp1,temp2,temp3,temp4,temp5], ignore_index=True)
Max1=ans.max()
print(Max1)

55000000

In [59]:
Sampling_Error=Max-Max1
print(Sampling_Error)

1345000000

## Propotional Sampling

In [95]:
size1=df1.size
size2=df2.size
size3=df3.size
size4=df4.size
size5=df5.size
size5

53

In [70]:
#  Important Formula (No_of_values_ith Strata / population_size ) * Sample_Size

In [100]:
data_list=[df1,df2,df3,df4,df5]
size_list=[size1,size2,size3,size4,size5]
total_size=100
population=1070
final_sample=[]
for i in range(5):
    sample_size=round((size_list[i]/population)*total_size)
    temp1=data_list[i].sample(sample_size,random_state=1)
    final_sample.append(temp1)
sample=pd.concat([final_sample[0],final_sample[1],final_sample[2],final_sample[3],final_sample[4]])
sample

2033    50000000
280       500000
1780     3300000
396      5000000
699       150000
          ...
1213      360000
61        232000
2142      165000
1218      330000
1215      100000
Name: AmountInUSD, Length: 100, dtype: int64

In [102]:
Max1=sample.max()

In [103]:
print(Max-Max1)

1345000000